@charset "UTF-8"

$color_1: #FF8303
$color_2: #A35709
$color_3: #D9D9D9
$background_1: #1b1a17
$background_2: #1F1E1B
$background_3: #23221F
$border_1: 2px solid $color_1
$border_2: 1px solid $color_2

*
    margin: 0
    padding: 0
    outline: none
    border: none

h1
    color: #F0E3CA
    font-family: "Roboto", sans-serif

p
    color: #F0E3CA
    font-family: "Roboto", sans-serif

input, textarea
    width: 92%
    color: #fff
    font-family: "Roboto", sans-serif
    padding: 0.75rem 1rem
    font-size: 1.15rem
    border: $border_1
    border-radius: 8px
    background: $background_2

textarea
    resize: none
    height: 70%
    margin-top: 1rem

button
    color: $color_1
    cursor: pointer
    background-color: $background_1
    display: flex
    align-items: center
    justify-content: center
    background: none
    border: $border_1
    border-radius: 8px

html
    width: 100vw
    min-height: 100vh

body
    background-color: $background_1
    overflow-x: hidden

.modal 
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: rgba(0, 0, 0, 0.5)
    z-index: 3

    @keyframes modalView
        from
            opacity: 0
        to
            opacity: 100%

    .modal-body
        width: 35%
        height: 100%
        margin: 0 auto
        position: relative
        display: flex
        justify-content: center

        .modal-share
            width: 65%
            height: 8%
            padding: 0rem 1.5rem
            position: absolute
            bottom: 0
            z-index: 4
            background-color: $background_1
            border-top-left-radius: 8px
            border-top-right-radius: 8px
            display: none
            grid-template-columns: repeat(5, 1fr)
            animation: modalShareView 1s 1

            @keyframes modalShareView
                from
                    bottom: -5rem
                to
                    bottom: 0rem

            .share-section
                display: flex
                align-items: center
                justify-content: center

                button
                    width: 50px
                    height: 50px
                    padding: 1rem
                    border: none
                    border-radius: 50px
                    background-color: $background_3
                
        .modal-edit
            display: none
            width: 65%
            height: 45%
            padding: 1.5rem
            position: absolute
            bottom: 0
            flex-direction: column
            background-color: $background_1
            border-top-left-radius: 8px
            border-top-right-radius: 8px
            animation: modalEditView 1s 1

            @keyframes modalEditView
                from
                    bottom: -20rem
                to 
                    bottom: 0rem

            input, textarea, button
                border: $border_2
                color: $color_3

            .modal-buttons
                width: 100%
                height: 15%
                display: flex
                align-items: center
                justify-content: center

                button
                    font-size: 1.35rem
                    margin: 0.5rem
                    padding: 0.5rem 1.5rem
                    background-color: $background_3
    
.wrapper 
    width: 100vw
    min-height: 100vh

    .wrapper-body 
        width: 35%
        min-height: 100vh
        margin: 0 auto
        
    .header
        width: 100%
        height: 12.5vh
        padding-top: 2rem

        .header-body
            width: 100%
            height: 100%
            display: flex

        .header-inputs
            width: 75%
            height: 100%
            display: grid
            grid-template-rows: repeat(2, 1fr)

            input
                margin: 0.5rem
        
        .header-buttons
            width: 25%
            height: 100%
            display: flex
            align-items: center
            justify-content: center

            button
                width: 115px
                height: 115px

                > span
                    transform: scale(3)

    .tasks
        width: 100%
        min-height: 10vh

        .tasks-body
            display: flex
            margin-top: 2rem
            flex-direction: column

            .tasks-info
                width: 100%
                height: 15vh
                position: relative
                display: flex
                align-items: center
                justify-content: center

                > h1 
                    color: #fff

                &::before
                    content: ""
                    position: absolute
                    top: 2.5rem
                    left: 17rem
                    width: 64px
                    height: 3px
                    background: $color_1

                &::after
                    content: ""
                    position: absolute
                    bottom: 2.5rem
                    left: 17rem
                    width: 64px
                    height: 3px
                    background: $color_1
        
        .tasks-cards
            width: 93%
            min-height: 10vh
            margin: 0 auto
            display: none
            flex-direction: column

            .task-card
                position: relative
                margin-bottom: 2rem
                width: 100%
                min-height: 10vh

                .task-info
                    cursor: pointer
                    width: 100%
                    min-height: 10vh
                    position: relative
                    z-index: 1
                    display: flex
                    background-color: $background_2
                    border: $border_1
                    border-radius: 8px

                    .task-text
                        width: 79%
                        min-height: 6vh
                        float: left
                        display: flex
                        padding: 1rem
                        flex-direction: column
                        justify-content: center

                        > h1
                            margin-bottom: 0.5rem

                    .task-button
                        width: 15%
                        height: 10vh
                        float: right
                        display: flex
                        align-items: center
                        justify-content: center

                        button
                            padding: 0.5rem
                            position: absolute
                            z-index: 2

                            > span
                                font-size: 2rem
                                transform: rotateZ(45deg)
                
                .task-action
                    display: none
                    float: right
                    margin-top: 1rem

                    button
                        width: 2vw
                        height: 4vh
                        padding: 1.25rem
                        margin-left: 1rem
                        background-color: $background_2

                        > img
                            transform: scale(1.2)
                
                @keyframes taskActionView
                    from
                        margin-top: -3rem
                    to
                        margin-top: 1rem

                @keyframes taskActionClose
                    from
                        margin-top: 1rem
                    to
                        margin-top: -3rem